*, ::after, ::before{
    box-sizing: border-box;
}
body{
    margin-top: 56px !important; /*Correspond à la taille du menu fixe */
}
.menuposts{
    display: flex;
    justify-content: space-around;
}

/* PARTIE COMMENTAIRES */
#viewComment{
    background-color: grey;
    border-radius: 15px;
}
.comment{
    background-color: white;
    border-radius: 15px;
}

.commentHour{
    font-style: italic;
}

.conteneurComment{
    font-size: 20px;
    margin-top: 10px;
}


/* PARTIE POST */

.postDetail{
    margin-bottom: 40px;
}

/* Partie admin form */
#backgroundLogin{
    height: 100%;
}
#sectionLogin{
    padding-top: 180px;
    padding-bottom: 180px;
}